body, html {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
  letter-spacing: -0.2rem;
}

h2 {
  font-size: 3rem;
}

h4 {
  font-size: 1.3rem;
  padding: 0.4rem 0;
}

hr.my-4 {
  max-width: 50px;
  border-width: 3px;
}

.container {
  margin-top: 1rem;
  padding-top: 1rem;
}

.col-lg-6 {
  padding: 30px;
}

/*----------------------------------------
  Navbar
  ----------------------------------------*/
.top-nav-collapse {
  background-color: #1C2331;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

/*----------------------------------------
  Hero Section
  ----------------------------------------*/
header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header.png");
  background-position: center center;
  /*background-attachment: fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#learn-more {
  margin-top: 30px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.hero-social-btn {
  margin-right: 1rem;
  margin-left: 1rem;
}


/*----------------------------------------
  Experience
  ----------------------------------------*/
i.devicon {
  font-size: 3rem;
  color: #90a4ae;
  transition: 0.15s all linear;
}

.devicon:hover {
  color: #1C2331;
}

.svg-inline--fa.fa-w-12 {
  width: .75em;
}

/*----------------------------------------
  Projects
  ----------------------------------------*/
.project-row {
  align-items: center;
}

.card {
  padding: 0;
  margin: 15px;
}

.lang-icon {
  width: 40px;
}

button#elegant {
  width: 12rem;
}

i.view-icon {
  font-size: 1rem;
  padding-left: 0.2rem;
}


/*----------------------------------------
  Contact
  ----------------------------------------*/
.contact-section .contact {
  -webkit-border-radius: 0 .25rem .25rem 0;
  border-radius: 0 .25rem .25rem 0;
  color: inherit !important;
  background-color: #eeeeee;
}
.contact-section .form .btn-floating {
  float: right;
  position: relative;
  bottom: 3rem;
  left: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  transition: all .2s ease-in-out;

}

.btn-floating i {
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
}

.list-inline-item {
  outline: 0;
}

.social-icon {
  font-size: 2rem;
  color: #1C2331 !important;
}

.social-username {
  color: #1C2331 !important;
}


/*----------------------------------------
  Footer
  ----------------------------------------*/
footer {
  color: inherit;
}

.social-links .fab {
  font-size: 20px;
}


/*----------------------------------------
  Media Queries
  ----------------------------------------*/

@media(min-width: 768px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.4rem;
  }

  .project-row {
    flex-direction: row;
    justify-content: space-between;
  }

}

@media(max-width: 767px) {
  .crypto-row {
    flex-direction: column-reverse;
  }
  .crypto-col {
    margin-top: 48px;
  }
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
 
}

@media (max-width: 992px) {
  .photo-col {
    margin: 0 auto 3rem;
    max-width: 70%;
  }
}
