body, html {
  height: 100%;
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

.section-header {
  padding: 2.5rem 0;
}

hr {
  margin: 0 auto;
}

/*----------------------------------------
  Navbar
  ----------------------------------------*/
.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #263238;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #263238;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

/*----------------------------------------
  Hero Section
  ----------------------------------------*/
.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  height: 100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h2 {
  font-size: 3rem;
  font-weight: bold;
}

h4 {
  font-size: 1.3rem;
}

#learn-more {
  margin-top: 30px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
i.fab {
  font-size: 30px;
  /*padding: 10px;*/
}

.hero-social-btn {
  margin-right: 1rem;
  margin-left: 1rem;
}


/*----------------------------------------
  About
  ----------------------------------------*/
div.photo {
  margin: 0 auto 60px;
}

/*----------------------------------------
  Experience
  ----------------------------------------*/


/*----------------------------------------
  Projects
  ----------------------------------------*/
/*.project-row {
  flex-direction: column;
}

.card {
  padding: 0;
  margin: 15px;
}*/


/*----------------------------------------
  Contact
  ----------------------------------------*/
.contact-section .contact {
  -webkit-border-radius: 0 .25rem .25rem 0;
  border-radius: 0 .25rem .25rem 0;
  background-color: #3E4551;
}
.contact-section .form .btn-floating {
  float: right;
  position: relative;
  bottom: 3rem;
  left: 0.5rem;
  border-radius: 50%;
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  transition: all .2s ease-in-out;

}

.btn-floating i {
  display: inline-block;
  width: inherit;
  text-align: center;
  color: #fff;
}


/*----------------------------------------
  Media Queries
  ----------------------------------------*/

@media(min-width: 768px) {
  h1 {
    font-size: 6rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  /*h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }*/

  h2 {
    font-size: 4rem;
    font-weight: bold;
  }

  h4 {
    font-size: 2rem;
  }

  p {
    font-size: 1.3rem;
  }
  .project-row {
    flex-direction: row;
    justify-content: space-between;
  }

/*  .card {
    width: 30%;
  }*/



}