body, html {
  height: 100%;
  /*font-family: 'Lato', sans-serif;*/
  /*font-family: 'Roboto', sans-serif;*/
  /*font-family: 'Montserrat', sans-serif;*/
  font-family: 'Poppins', sans-serif;
}

/*----------------------------------------
  Navbar
  ----------------------------------------*/
.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: #263238;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #263238;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}

/*----------------------------------------
  Hero Section
  ----------------------------------------*/
.bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/hero.jpg);
  height: 100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

h4 {
  font-size: 24px;
}

#learn-more {
  margin-top: 30px;
}

.section-header {
  padding-top: 30px;
}

.social-icons {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}
i.fab {
  font-size: 30px;
  /*padding: 10px;*/
}

.hero-social-btn {
  margin-right: 1rem;
  margin-left: 1rem;
}


/*----------------------------------------
  About
  ----------------------------------------*/


/*----------------------------------------
  Experience
  ----------------------------------------*/


/*----------------------------------------
  Projects
  ----------------------------------------*/



/*----------------------------------------
  Media Queries
  ----------------------------------------*/

@media(min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
  h4 {
    font-size: 1.2rem;
  }
}